* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tictactoe-grid {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    border: 1px black solid;
    width: 600px;
    height: 600px;
}

.tictactoe-square {
    border: 1px black solid;
}

